a:hover
{
    text-decoration: underline;
}

#header-wrapper {
    background: none repeat scroll 0 0 #4E2F91;
    border-bottom: 2px solid #35157C;
    overflow: hidden;
}

#portal-globalnav
{
    float: right; 
}

#portal-globalnav a
{
    color: #b897e3;
}

#header #portal-globalnav ul li
{
    background: url(../assets/bg-nav.png) no-repeat 0px 5px;
    padding-left: 12px;
    margin-left: 22px;
}

#portal-globalnav li.selected a,
#portal-globalnav li a:hover
{
    color: #fff;
}
