a:hover
{
    text-decoration: underline;
}

#header-wrapper {
    background: none repeat scroll 0 0 #4E2F91;
    border-bottom: 2px solid #35157C;
    overflow: hidden;
}

#portal-globalnav
{
    float: right; 
    background: none repeat scroll 0 0 #4E2F91;
}

#portal-globalnav li a
{
    color: #b897e3;
    background: none repeat scroll 0 0 #4E2F91;
    border-right: none;
}

#portal-globalnav li.selected a,
#portal-globalnav li.selected a:hover,
#portal-globalnav li a:hover
{
    color: #ffffff;
    background: none repeat scroll 0 0 #4E2F91;
}
